[package]
name = "zh"
version = "0.1.0"
edition = "2024"
[profile.release]
lto = "thin"
codegen-units = 1
opt-level = 'z'
strip = true
panic = "abort"
[dependencies]
emojis = "0.8.0"
toml = "0.9.10"
serde = { version = "1.0", features = ["derive"] }