name: CI
on: [push]
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26d

      - name: Build Module
        run: |
           make

      - name: Upload Module Artifact
        uses: actions/upload-artifact@v4
        with:
          name: module
          path: "module/ZygiskHide.zip"
